*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(255, 255, 255);  ;
    color: #333;
}


header{
    width: 100%;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ebe5e5;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0,0,0,0);
    position: fixed;
    top: 0;
    z-index: 999;
}

header .logo{
    font-size: 35px;
    font-weight: 700;
}

header .logo span{
    color: #d4a600;
}

nav a{
    margin-left: 80px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

nav a:hover{
    color: #d4a600;
}



#home {
    position: relative;
    width: 100%;
    height: 100vh;       
    overflow: hidden;
}

#home video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
        
}

#home::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, rgba(0,0,0, 0) 0%, rgb(255, 255, 255) 100%);
    z-index: 0
    ;
}


#page1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    background: none ;
    width: 100%;
}

#page1 h1 {
    position: absolute;
    top: -290px;           
    left: 300px;
    color: white;
    font-size: 70px;
}

#page1 h2 {
    font-size: 40px;
    color: white;
    margin-bottom: 15px;
}

#page1 p {
    font-size: 30px;
    color: #f1cb43;
    margin-bottom: 25px;
}






.products{
    padding: 60px;
    text-align: center;
    border: 3px solid #d4a600;      
    border-radius: 25px;            
    margin: 40px 60px;              
    background: rgb(6, 6, 48);  
    border-width: 7px;             
}


.product-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

/* Product Image Hover Swap */
.img-box{
    position: relative;
    width: 100%;
    height: 250px;
}

.img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    object-fit: contain;
    transition: opacity 0.4s ease, transform 0.4s ease;
}


.img-main{
    opacity: 1;
    z-index: 2;
}


.img-hover{
    opacity: 0;
    z-index: 2;
}


.img-box:hover .img-main{
    opacity: 0;
    transform: scale(1.15);
}

.img-box:hover .img-hover{
    opacity: 2;
    transform: scale(1.05);
}


.products h2{
    background: #fdfdfc;   
    color: goldenrod;           
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}


.product h3{
    margin-top: 30px;
}

.product p{
    font-size: 20px;
    font-weight: bold;
    color: #d4a600;
}

/* About */
.about{
    padding: 60px;
    background:rgb(255, 255, 255);  ;
}

.about img{
    width: 400px;
    height: auto;
    border-radius: 15px;
    display: block;
    margin: 20px auto;
    
}
.about h2{
    text-align: center;
    font-size: 45px;
    color: #d4a600;
    margin-bottom: 50px;
}

.about p{
    margin: 0 auto;
    max-width: 900px;
    text-align: auto;
    font-size: 18px;
}





.contact{
    padding: 60px;
    text-align: center;
}

.contact h2{
    font-size: 35px;
    color: #d4a600;
    margin-bottom: 20px;
}




footer{
    background: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
}
